.user-name-container {
  text-align: center;
  padding: 8px;
}

.welcome-text {
  font-size: 28px;
  font-weight: 700;
}

.info-text {
  color: rgb(150, 146, 146);
}

.name-container {
  text-align: left;
  width: 375x;
  margin-left: auto;
  margin-right: auto;
}

.lable {
  font-size: 14px;
  margin: 4px 0px;
  color: rgb(94 91 91);
}

.error-text {
  font-size: 12px;
  color: red;
}

@media (max-width: 380px) {
  .name-container {
    width: 89vw;
  }
}
